
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;

}



header {
    background-color: brown;
    height: 40px;
    padding: 1em;
    font-size: 30px;
    margin-bottom: 20px;
}



h5 {
    margin-top: 5px;
}



button {
    background-color: brown;
    color: bisque;
    padding: 10px;
    border-radius: 5px;
    transition: all ease 0.3s;
    width: 15%;
    margin: 10px;

   
}



button:hover {
    background-color: maroon;
   
}



.formulario {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 1em;
    border: 1px solid gray; 
    background-color: white; 
}



input {
    border: 1px solid gray;
    margin-top: 10px;
    padding: 3px;
}



.content {
    margin-top: 15px;
}



table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 100%;
}



table th {
    background-color: rgb(204, 204, 204);
}



table th, td {
    text-align: left;
    padding: 1px 5px;
}



.center {
    text-align: center;
}